// Colors
$dark:        #333;
$light:       #eee;
$text-dark:   #eee;
$text-light:  #333;

$dark-green:  #198347;
$light-green: #1AA255;
$mint:        #8ce2b1;
$clear-mint:  #ABE7C3;
$white-green: #d0f3df;

// Elements
$links:             $white-green;
$sidebar:           $dark-green;
$headings:          $white-green;
$background:        $light-green;
$sidebar-text:      $clear-mint;
$content-text:      $clear-mint;
$background-post:   $dark-green;
$background-border: $light-green;

body {
  color: $sidebar-text;
  background-color: $sidebar;
}

.sidebar-p {
  color: $sidebar-text;
}

p.social a{
  color: $links;
}

a {
  color: $links;
}

p > a:hover {
  color: $links;
  border-bottom: dotted 1px $links;
  text-decoration: none;
}

.content-column.white-background {
  background: $background;
}

.content-column.white-background-page {
  background: $background-post;
  border: $background-border 20px solid;
}

 h1,  h2,  h3,  h4,  h5,  h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $headings;
}

.content-column-content p,
.content-column-content li {
  color: $content-text;
}