// Fonts
$lato:    "Lato", "Roboto", Helvetica, Arial, sans-serif;
$roboto:  "Roboto", Helvetica, Arial, sans-serif;

.sidebar-p {
  font-family: $lato;
}

.box-masonry h4 a {
  font-family: $roboto;
}

.box-masonry .box-masonry-text p {
  font-family: $lato;
  letter-spacing: .4px;
}

 h1,  h2,  h3,  h4,  h5,  h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $lato;
}

.content-column-content p,
.content-column-content li {
  margin-top: 35px;
  margin-bottom: 35px;

  font-size: 17px;
  line-height: 1.9;
  font-family: $lato;
  letter-spacing: .7px;
}

.content-column-content blockquote p {
  margin: 0;
  font-size: 18px;
}