/* your styles go here */

/* your styles go here */
#title-image {
    margin: 0;
    max-width: 50%;
}

.small-navbar>* {
    display: inline-block !important;
    max-width: 50%;
}

.small-navbar-heading #title-image {
    width: 100%;
    max-height: 25px;
    float: right;
    display: block;
}

h1.small-navbar-heading {
    margin: 6px 0 0 0;
}

.sidebar-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

.stack-icons {
    text-align: center;
}

.stack-icons img {
    max-width: 40px;
    max-height: 40px;
    margin: 0 15px 20px 0px;
    display: inline-block;
}

.box-masonry-description p {
    margin: 0;
}

small {
    width: 100%;
    display: block;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .content-column {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-column-content {
        padding: 0 5px;
    }
}

@media screen and (min-width: 768px) {
    .sidebar-content {
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        width: 250px;
    }

    #sidebar {
        max-width: 250px;
    }

    .content-column {
        margin-left: 250px;
        padding-left: 30px;
        padding-right: 30px;
    }
}