<div class="col-xs-12 col-sm-8 col-md-9 content-column">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="grid">
      <div class="row">
        {{ range .Data.Pages }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                <div class="box-masonry">
                    {{ if and (isset .Params "image") .Params.image }}
                      {{ if eq .Params.showonlyimage true }}
                        {{ if eq .Params.extlink false }}
                          <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                          <a href="{{ .Params._extlink }}" title="" class="box-masonry-image with-hover-overlay" target="_blank">
                        {{ end }}

                      {{ else }}
                        {{ if eq .Params.extlink false }}
                          <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ else }}
                          <a href="{{ .Params._extlink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon" target="_blank">
                        {{ end }}
                      {{ end }}

                          <img src="{{.Params.image | absURL}}" loading="lazy" alt="" class="img-responsive">
                      </a>
                    {{ end }}
                    {{ if eq .Params.showonlyimage true }}
                    <div class="box-masonry-hover-text-header">
                    {{ else }}
                    <div class="box-masonry-text">
                    {{ end }}
                      {{ if .Params.tags }}
                      <h4><a href="{{ .Params._extlink }}" target="_blank">{{ .Title }}</a></h4>
                      <p>{{ .Params.description }}</p>
                      <a href="../../categories/"><samp  style="color:#B0B3B7";>{{ .Params.categories}}</samp></a>
                      &nbsp
                      <a href="../../tags/"><samp style="color:#B0B3B7";>{{ .Params.tags}}</samp></a>
                    </br>
                      <samp style="color:#ACAFB4";>{{ .Date.Format "2006·1·2"}}</samp>
                      &nbsp
                      <a href="../../authors/"><samp style="color:#B0B3B7";>{{ .Params.authors}}</samp></a>
                      {{ else }}
                        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                      {{ end }}
<!---
                        <div class="box-masonry-description">
                          <p>
                              {{ if .Description }}
                             {{ .Description }}
                              {{ else }}
                              {{ .Summary }}
                              {{ end }}
                          </p>
                        </div>
                      --->
                    </div>
                </div>
            </div>
        {{ end }}
      </div>
  </div>
</div>
