{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
         <a href="https://docs.qq.com/form/page/DUklUWXFrVWZ5R21k?_w_tencentdocx_form=1#/fill"><img src="https://cos.wiki-power.com/img/20210106005046.jpg" width="50%" height="50%"></a>
          
      </div>
    </div>
  </div>
</div>
{{ end }}
