{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
         <div id="tab_1">
          <iframe height="1037" src="http://jsform2.com/web/formview/5ff48d8475a03c060a96e336" allowTransparency="true" frameborder="0" scrolling="yes" style="width:50%; border:none"></iframe>
      </div>
    </div>
  </div>
</div>
{{ end }}
