{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
         <img src="https://wiki-media-1253965369.cos.ap-guangzhou.myqcloud.com/img/20210106005046.jpg" width="50%" height="50%">
          <iframe height="1037" src="http://jsform2.com/web/formview/5ff48d8475a03c060a96e336" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%; border:none"></iframe>
      </div>
    </div>
  </div>
</div>
{{ end }}
